@import '~@angular/material/theming';
@import '../app-theme';
@import './variables';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.primary-header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  h1 {
    flex: 1;
    font-weight: 500;
    padding-left: 8px;
    font-size: 20px;
    color: #fff;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-list .mat-list-item.retro-note .mat-list-item-content {
  align-items: stretch;
}
