@import '~@angular/material/prebuilt-themes/purple-green.css';
@import './variables';
.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

.app-background {
  background: #303030;
}

body {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
