<mat-toolbar class="mat-elevation-z6" color="primary">
  <span [ngStyle.xs]="{'font-size.px': 40}" class="title">RetroMatic</span>
  <span fxFlex class="spacer"></span>
  <span *ngIf="(user | async)?.uid">
    <span fxHide.xs>
      <button mat-button [routerLink]="['/home']">My Dashboard</button>
      <span class="display mat-body-1">{{ loginDisplay }}</span>
      <button mat-button (click)="logout()">Log out</button>
    </span>
    <span fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['/home']">My Dashboard</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>
