@use '@angular/material' as mat;

@mixin retroboard-theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $background: map-get($color-config, background);

  .retroboard__note {
    background: mat.m2-get-color-from-palette($background, card);
  }

  .retroboard__action-bar {
    background: mat.m2-get-color-from-palette($background, background);
  }
}
