@import '../../sass/variables';
.primary-header {
  background: #7b1fa2;
  padding-left: 20px;
  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff
  }
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
}

.danger {
  color: #a94442;
  background-color: #f2dede;
}

.info {
  color: #31708f;
  background-color: #d9edf7;
}

.retro-note {
  height: auto !important;
  #noteButton {
    white-space: normal;
    line-height: normal;
    text-align: left;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
  }
  margin-bottom: 15px;
}

.add-new-button {
  border-radius: 10px;
  border: 2px dashed $border-color;
  opacity: 0.5;
  text-align: center;
  margin-left: 39px;
}

// .note-wrapper {
//   flex: 1 0 auto;
//   height: auto !important;
//   button {
//     position: absolute;
//     right: 11px;
//     align-self: center;
//     &:nth-of-type(1) {
//       white-space: normal;
//       line-height: normal;
//       text-align: left;
//       padding: 15px 69px 15px 15px;
//       position: relative;
//       width: 100%;
//       top: initial;
//       right: initial;
//     }
//   }
//   .list-group-item {
//     margin-bottom: 15px;
//     border-radius: 10px;
//     .count {
//       display: inline;
//       padding: 0 3px;
//     }
//   }
//   strong {
//     top: calc(50% - 6px);
//     position: absolute;
//     right: 40px;
//   }
// }
// .list-group-item-new {
//   border: 2px dashed $border-color;
//   opacity: 0.5;
//   text-align: center;
// }
