<mat-toolbar class="the-header" color="primary">
  <span class="title">RetroMatic</span>
  <span class="the-header__spacer"></span>
  <span class="the-header__desktop-nav">
    <button *ngIf="authService.isLoggedIn()" mat-button [routerLink]="['/home']">My Dashboard</button>
    <button mat-icon-button (click)="themeService.toggle()" [title]="themeService.isDark ? 'Switch to light mode' : 'Switch to dark mode'" aria-label="Toggle colour scheme">
      <mat-icon>{{ themeService.isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <a mat-button href="https://github.com/wordythebyrd/RetroMatic" target="_blank" aria-label="GitHub Repository">
      <img class="the-header__github-logo" src="../../assets/github-circle-white-transparent.svg" alt="github" />
      GitHub
    </a>
    <button *ngIf="authService.isLoggedIn()" mat-button (click)="logout()">Log out</button>
  </span>
  <span class="the-header__mobile-nav">
    <button mat-icon-button (click)="themeService.toggle()" [title]="themeService.isDark ? 'Switch to light mode' : 'Switch to dark mode'" aria-label="Toggle colour scheme">
      <mat-icon>{{ themeService.isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button *ngIf="authService.isLoggedIn()" mat-menu-item [routerLink]="['/home']">My Dashboard</button>
      <a mat-menu-item href="https://github.com/wordythebyrd/RetroMatic" target="_blank">GitHub</a>
      <button *ngIf="authService.isLoggedIn()" mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </span>
</mat-toolbar>
