.the-header {
  z-index: 2;

  .title {
    font-family: Lobster, sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

.the-header__github-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
