<div class="login-page">
  <mat-card>
    <mat-card-content>
      <p *ngIf="error" class="error mat-body-1">
        <strong>Oh snap!</strong> {{error.message}}
      </p>
      <mat-form-field>
        <input #email type="email" matInput placeholder="Email address" required>
      </mat-form-field>
      <mat-form-field>
        <input #password type="password" matInput placeholder="Password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="login(email.value, password.value)" color="primary">Sign in</button>
      <button mat-button (click)="register(email.value, password.value)">Register</button>
      <button mat-mini-fab (click)="loginWithGoogle()" aria-label="Sign in with Google ">
        <i class="fab fa-google fa-lg"></i>
      </button>
      <button mat-button (click)="loginAsGuest()">Continue as guest</button>
    </mat-card-actions>
  </mat-card>
</div>
