:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.app-shell {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;

  &__content {
    flex: 1;
    overflow: auto;
    transition: margin-left 0.2s ease;

    &--full {
      width: 100%;
    }
  }
}
