nav p {
  padding: 0 15px;
  color: white;
}

nav a {
  color: white;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #d5d5d5;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.navbar {
  z-index: 10;
  background: #337ab7;
  border: none;
  border-radius: 0;
}
