@import '../variables.less';

nav {
  p {
    padding: 0 15px;
    color: @text-light;
  }
  a {
    color: @text-light;
    &:hover,
    &:focus,
    &:active {
      color: @text-light-hover;
      text-shadow: @text-light-hover-border;
    }
  }
}

.navbar {
  z-index: 10;
  background: @blue-dark;
  border: none;
  border-radius: 0;
  .navbar-brand {
    font-family: @accent-font !important;
    font-size: 24px;
  }
}

@media only screen and (min-width: 601px) {
  .navbar {
    .navbar-brand {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .navbar {
    .navbar-brand {
      font-size: 60px;
    }
  }
}
