<div class="login-page" ngClass.lt-md="mobile-background" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z6" ngStyle.lt-md="width: auto;">
    <mat-card-content>
      <p *ngIf="error" class="error mat-body-1">
        <strong>Oh snap!</strong> {{error.message}}
      </p>
      <mat-form-field>
        <input #email type="email" matInput placeholder="Email address">
      </mat-form-field>
      <mat-form-field>
        <input #password type="password" matInput placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="register(email.value, password.value)">Register</button>
        <button mat-raised-button color="primary" (click)="login(email.value, password.value)">Sign in</button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="accent" (click)="loginWithGoogle()" aria-label="Sign in with Google">Sign in with Google</button>
  <button mat-raised-button color="accent" (click)="loginAsGuest()" aria-label="Continue as guest">Continue as guest</button>
</div>
