.my-dashboard {
  overflow: hidden;
  .card-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: hsl(0, 0%, 45%);
    margin: 0;
  }
  .my-dashboard__content {
    padding: 40px 0;
  }
  .my-dashboard__loading-retros {
    min-height: 150px;
  }
}
.mat-card-header-text {
  justify-content: center;
  align-items: center;
}
