<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>My Retrospectives</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container">
      <ng-container *ngIf="($retroboards | async) as retroboards; else loadingRetros">
        <mat-list *ngIf="retroboards.length; else noRetros">
          <mat-list-item *ngFor="let retroboard of retroboards; last as last">
            <button mat-button [routerLink]="['/retroboard/', retroboard.key]">{{ retroboard.name }}</button>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button class="fill" mat-raised-button color="primary" (click)="openModal(addtemplate)">Create New Retrospective</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loadingRetros>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noRetros>
  <mat-list>
    <mat-list-item>You have no retrospectives</mat-list-item>
  </mat-list>
</ng-template>

<ng-template #addtemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create a new retrospective</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container">
      <mat-form-field color="accent" [hideRequiredMarker]="true">
        <input matInput #name placeholder="Retrospective name" required>
      </mat-form-field>
      <label for="bucket1">Customize buckets (Optional)</label>
      <mat-form-field color="accent">
        <input matInput #bucket1 placeholder="What went well?">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput #bucket2 placeholder="What can be improved?">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput #bucket3 placeholder="Action items">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="createRetroboard(name.value, bucket1.value, bucket2.value, bucket3.value)">Add</button>
      <button mat-button (click)="dialogRef.close()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
