<div class="page-container mat-typography">
  <div class="primary-header">
    <h1>{{ retroboard?.name }}</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px">
    <mat-card fxFlex="33%" *ngFor="let bucket of buckets$ | async">
      <mat-card-header>
        <mat-card-title>{{ bucket.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            class="retro-note"
            *ngFor="let note of bucket.notes | async">
            <!-- <button color="warn" mat-icon-button *ngIf="note.votes && note.votes[user.uid]" (click)="downVote(bucket, note)">
              <mat-icon aria-hidden="true">keyboard_arrow_down</mat-icon>
            </button>
            <button color="accent" mat-icon-button *ngIf="!note.votes || (note.votes && !note.votes[user.uid])" (click)="upVote(bucket, note)">
              <mat-icon aria-hidden="true">keyboard_arrow_up</mat-icon>
            </button> -->
            <div fxFlex fxLayout="column">
              <button [ngClass]="{'mat-accent': hasVoted(note.votes, true)}" mat-icon-button (click)="upVote(bucket, note)">
                <mat-icon aria-hidden="true">keyboard_arrow_up</mat-icon>
              </button>
              <button [ngClass]="{'mat-warn': hasVoted(note.votes, false)}" mat-icon-button (click)="downVote(bucket, note)">
                <mat-icon aria-hidden="true">keyboard_arrow_down</mat-icon>
              </button>
            </div>
            <button
              id="noteButton"
              [matBadge]="note.totalVotes"
              [matBadgeHidden]="!note.totalVotes || note.totalVotes === 0"
              [class.success]="bucket.type === 'success'"
              [class.danger]="bucket.type === 'danger'"
              [class.info]="bucket.type === 'info'"
              mat-button fxFlex=100
              class="mat-elevation-z6"
              (click)="openModal(edittemplate, bucket, note)">
              {{note.message}}
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button fxFlex title="Add entry to {{bucket.name}}" aria-label="Add entry" class="add-new-button" [class.success]="bucket.type==='success'"
              [class.danger]="bucket.type==='danger'" [class.info]="bucket.type==='info'" (click)="openModal(addtemplate, bucket)">
              <mat-icon aria-hidden="true ">add</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row">
    <exporting [jsonData]="jsonData"></exporting>
    <button mat-icon-button color="accent" (click)="deleteRetro(deleteConfirmDialog)">
      <mat-icon aria-label="delete">delete</mat-icon>
    </button>
  </div>
</div>

<ng-template #addtemplate>
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
      <mat-card-title>Add entry to
        <strong>{{activeBucket.name}}</strong>
      </mat-card-title>
      <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlex>
        <textarea matInput #addmessage cdkFocusInitial cdkTextareaAutosize cdkAutosizeMinRows="3"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addNote(addmessage.value)">Add</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #edittemplate>
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
      <mat-card-title>Update entry to
        <strong>{{activeBucket.name}}</strong>
      </mat-card-title>
      <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field fxFlex>
        <textarea matInput #editmessage cdkTextareaAutosize cdkAutosizeMinRows="3" cdkFocusInitial [value]="activeNote.message"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="edit-actions" fxLayout="row wrap">
      <button fxFlex.xs="50%" mat-raised-button color="primary" (click)="updateNote(editmessage.value) ">Update</button>
      <button fxFlex.xs="50%" mat-raised-button color="warn" (click)="deleteNote() ">Delete</button>
      <button fxFlex.xs="50%" mat-button mat-dialog-close>Cancel</button>
      <button fxFlex.xs="50%" mat-stroked-button *ngIf="!activeNote.votes || (activeNote.votes && !activeNote.votes[user.uid])"
        (click)="upVote() ">Vote up</button>
      <button fxFlex.xs="50%" mat-stroked-button *ngIf="activeNote.votes && activeNote.votes[user.uid]" (click)="downVote() ">Down vote</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #deleteConfirmDialog>
  <h2 mat-dialog-title>Delete "{{ retroboard?.name }}"</h2>
  <mat-dialog-content>Are you sure?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]="true">Yes</button>
  </mat-dialog-actions>
</ng-template>
