.create-update-retro-modal__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: hsl(0, 0%, 45%);
}

.create-update-retro-modal__save-template {
  margin-top: 4px;
}

.create-update-retro-modal__save-template--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.create-update-retro-modal__template-name-field {
  flex: 1;
}

.modal-form-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-update-retro-modal__delete-template {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: auto;

  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}
